.DisTable{
    background-color:papayawhip;
}

.name{
    background-color: #333333;
    line-height: 1em;
}

.name_cn{
    font-size:2.2em;
    color: #f0f0f0;
}

.name_jp{
    font-size:1.6em;
    color: #f0f0f0;
}

.ACGname{
    background-color: #333333;
    line-height: 1.25em;
    padding-top: 0.25em;
    padding-left: 0.5em;
}

.ACGname_cn{
    font-size:1.8em;
    color: #f0f0f0;
}

.ACGname_jp{
    font-size:1.4em;
    color: #f0f0f0;
}

.description{
    background-color: #f0f0f0;
    color:  #333;
    text-align: left;
    vertical-align: top;
    font-size: 1em;
    line-height: 1.25em;
    padding-top: 0.25em;
    padding-left: 0.5em;
}

